@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.font{
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;

}
.ubuntu-sans-title {
  position: relative;
  color: white;
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* Add other styles as needed */

  /* Initial positioning */
  margin-left: 700px;
  top: 100px;
}
.contactimage{
 
  position:absolute;
  top:74px;
  right:30px;
}
.contactform{
  background: url('https://img.freepik.com/free-photo/top-view-blue-monday-concept-composition-with-telephone_23-2149139103.jpg');
  border-radius: 10px;
  background-repeat: no-repeat;
 background-size: cover;
 height:393px;
 margin: 50px 50px;

 padding:20px 20px;
  
}

@media screen and (max-width: 961px) {
  
  .ubuntu-sans-title {
    margin-left: 20px;
    top: 20px;
    font-size: 1.5rem;}
    .fontico{
      margin-top: 150px;
    }
}


.container{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  color: rgb(27, 87, 136);

} 
.fontico{
  margin-left:153px;
  position: absolute;
  top: 173px; 

 

 
}
.custom-navbar {
  background-color: rgb(27, 87, 136);
}

.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link{
  color: white !important; 
}
.custom-navbar .btn-outline-success {
  color: white !important;
  border-color: white !important;
}
.section{
  height:300px;
  width:100%;
  background-color: rgb(27, 87, 136);


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
