@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.font {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-sans-title {
  position: relative;
  color: white;
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  /* Initial positioning */
  margin-left: 100px;
  top: 100px;
}

.contactimage {
  position: absolute;
  top: 74px;
  right: 30px;
}

.contactform {
  background: url('https://img.freepik.com/free-photo/top-view-blue-monday-concept-composition-with-telephone_23-2149139103.jpg');
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 393px;
  margin: 50px 50px;
  padding: 20px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color:  rgb(43, 144, 161)
}


.custom-navbar {
  background-color: rgb(43, 144, 161);
}

.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link {
  color: white !important;
}

.custom-navbar .btn-outline-success {
  color: white !important;
  border-color: white !important;
}
.colorbtn{
  background-color: rgb(43, 144, 161) !important;
  color: white !important;
  border-color: white !important;
  border-radius: 10px 10px;

}

.section1 {
  background-image: url('https://png.pngtree.com/background/20230617/original/pngtree-d-illustration-of-isolated-water-tap-with-streaming-water-on-blue-picture-image_3681677.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 443px;
  width: 100%;
  /* background-color:  rgb(43, 144, 161)*/
} 
/* about */
.header{
  background-color: #f6f9fc;
}
.aboutimage{
  float: right;
  height:475px;
  width:713px;
  margin:41px;
  border-radius: 1000px;
}
.paraabout{
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;

}
.head{
padding: 10px;
padding-top: 30px;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.28;
}
.subhead{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding:10px;
}
.footer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.box{
  background-color:  #f6f9fc;
  /* background-color:#f6f9fc; */
  color:black;
padding:10px;
margin: 10px;
flex: 1;
border-radius:20px;

}
.box:hover{
border:2px solid rgb(43, 144, 161);
}

.subhead1{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding:10px;
}