@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.font{
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  margin: 2px;
}
.ubuntu-sans-title{
  position: relative;
  top: 100px;
  margin-left: 700px;
  color:white;
 font-family: "Ubuntu Sans", sans-serif;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: normal;
 font-variation-settings:
   "wdth" 100;

 
}

.fontico{
  margin-left:100px;
  position: absolute;
  top: 120px; 
 
}
.custom-navbar {
  background-color: rgb(27, 87, 136);
}

.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link{
  color: white !important; 
}
.custom-navbar .btn-outline-success {
  color: white !important;
  border-color: white !important;
}
.section{
  height:300px;
  width:100%;
  background-color: rgb(27, 87, 136);


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
